
<section class="best_sellercurosel_area section-padding" id="featuredProducts">
    <div class="pd-15">
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="home-card">
                    <div class="headline">
                        <h2>New Arrivals</h2>
                            

                    </div>
                    <div class="products-carousel">
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/furniture/lewis-lqius">
        <img src="/files/furniture3_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00012" data-item-name="Lewis" data-price="None" data-image="/assets/erpnext_ecommerce/images/full_image1.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/furniture/lewis-lqius">
                    
                        Lewis
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 560.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/accessories/television-accessories/lewis-clxsm">
        <img src="/files/furniture3_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00011" data-item-name="Lewis" data-price="None" data-image="/assets/erpnext_ecommerce/images/full_image1.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/television-accessories/lewis-clxsm">
                    
                        Lewis
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 500.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/accessories/television-accessories/lewis-three-door-shoe-cabinet-with-one-drawer1-k0syb">
        <img src="/files/furniture3_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00010" data-item-name="Lewis Three Door Shoe Cabinet With One Drawer1" data-price="None" data-image="/assets/erpnext_ecommerce/images/full_image1.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/television-accessories/lewis-three-door-shoe-cabinet-with-one-drawer1-k0syb">
                    
                        Lewis Three Door Shoe Cabinet ...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 417.05</ins>
                    <del>.د.ب 439.00</del>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/accessories/television-accessories/apple-tv-remote-m4lbl">
        <img src="/files/furniture1_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00009" data-item-name="Lewis Three Door Low Height Shoes Cabinet" data-price="None" data-image="/assets/erpnext_ecommerce/images/furniture1.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/television-accessories/apple-tv-remote-m4lbl">
                    
                        Lewis Three Door Low Height Sh...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 35.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/accessories/headphones/rbl-xtreme-neckband-wireless-earphones-with-mic-kjbjj">
        <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00008" data-item-name="RBL XTREME Neckband Wireless Earphones With Mic" data-price="None" data-image="None" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/headphones/rbl-xtreme-neckband-wireless-earphones-with-mic-kjbjj">
                    
                        RBL XTREME Neckband Wireless E...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 999.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/cameras/nikon-d80-102mp-dslr-camera-npgwd">
        <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00007" data-item-name="Nikon D80 10.2MP DSLR Camera" data-price="None" data-image="None" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/cameras/nikon-d80-102mp-dslr-camera-npgwd">
                    
                        Nikon D80 10.2MP DSLR Camera
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 74,556.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/televisions/panasonic-123cm-49-inch-ultra-hd-4k-led-smart-tv-f9sjw">
        <img src="/files/furniture3_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00006" data-item-name="Lewis Contemporary Rich Brown Solid Wood Folding Chair- Set of 2" data-price="None" data-image="/assets/erpnext_ecommerce/images/furniture3.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/televisions/panasonic-123cm-49-inch-ultra-hd-4k-led-smart-tv-f9sjw">
                    
                        Lewis Contemporary Rich Brown ...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 39,999.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/televisions/kodak-x900-102cm-40-inch-full-hd-led-tv-zxlg3">
        <img src="/files/furniture2_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00005" data-item-name="Lewis  Contemporary Solid Wood Wall Table with Chair" data-price="None" data-image="/assets/erpnext_ecommerce/images/furniture2.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/televisions/kodak-x900-102cm-40-inch-full-hd-led-tv-zxlg3">
                    
                        Lewis  Contemporary Solid Wood...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 13,499.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/accessories/television-accessories/samsung-sm21-ledplasmaled-tv-remote-control-amtxh">
        <img src="/files/furniture3_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00004" data-item-name="Lewis Three Door Shoe Cabinet With One Drawer" data-price="None" data-image="/assets/erpnext_ecommerce/images/full_image1.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/television-accessories/samsung-sm21-ledplasmaled-tv-remote-control-amtxh">
                    
                        Lewis Three Door Shoe Cabinet ...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 439.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/accessories/gaming-accessories/stark-grand-classic-psp12-8-gb-with-10000-games-jfupt">
        <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00003" data-item-name="STARK Grand Classic PSP12 8 GB With 10000 Games" data-price="None" data-image="None" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/gaming-accessories/stark-grand-classic-psp12-8-gb-with-10000-games-jfupt">
                    
                        STARK Grand Classic PSP12 8 GB...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 2,550.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/electronics/televisions/kodak-124-cm-50-inches-full-hd-led-tv-50fhdx900s-black-xkucy">
        <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00002" data-item-name="Lewis Door Panel - Set of 2 (Only Doors)" data-price="None" data-image="/assets/erpnext_ecommerce/images/furniture1.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/televisions/kodak-124-cm-50-inches-full-hd-led-tv-50fhdx900s-black-xkucy">
                    
                        Lewis Door Panel - Set of 2 (O...
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 19,999.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-2">
        <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00001-2" data-item-name="Zebronics Keyboard" data-price="None" data-image="None" style="margin-bottom: 0">
        
         <h4>
                <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-2">
                    
                        Zebronics Keyboard
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 759.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-1">
        <img src="/files/dell-computer-keyboard-500x500_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00001-1" data-item-name="Dell Keyboard" data-price="None" data-image="/files/dell-computer-keyboard-500x500.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-1">
                    
                        Dell Keyboard
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                    
                    <ins>.د.ب 799.00</ins>
                    
                    
                </div>
    </div>
</div>
                        
                        
<div class="men-single">
      <div class="product-image">
    <a href="/products/keyboard-hv52c">
        <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00001" data-item-name="Keyboard" data-price="None" data-image="None" style="margin-bottom: 0">
        
         <h4>
                <a href="/products/keyboard-hv52c">
                    
                        Keyboard
                    
                </a>
            </h4>        
         <div class="product-wid-price clearfix" style="">
                    
                </div>
    </div>
</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
