
<section class="best_sellercurosel_area section-padding" id="featuredProducts">
    <div class="pd-15">
        <div class="row"  >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="home-card">
                <div class="headline">
                    <h2>Best Sellers</h2>

                </div>
                <div class="products-carousel">
                  
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/furniture/living-rooms/sofas/armchairs/blyth-leisure-chair-wcjuv">
        <img src="/files/1 2020-04-16 17:50:23_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000020" data-item-name="BLYTH LEISURE CHAIR" data-price="None" data-image="/files/2 2020-04-16 17:50:28.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/furniture/living-rooms/sofas/armchairs/blyth-leisure-chair-wcjuv">
                    
                        BLYTH LEISURE CHAIR
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 149.000</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/household/tabletop/glassware/wine-party-set-of-2-white-wine-glasses-clear-iafi0">
        <img src="/files/Wine_Party-White_wine_glass1_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000571" data-item-name="Wine Party Set of 2 White Wine Glasses - Clear" data-price="None" data-image="/files/Wine_Party-White_wine_glass.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/household/tabletop/glassware/wine-party-set-of-2-white-wine-glasses-clear-iafi0">
                    
                        Wine Party Set of 2 White Wine Glasses - Clear
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 19.900</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/furniture/living-rooms/sofas/3-seater-sofa-dulrg">
        <img src="/files/4 2020-05-03 14:21:08_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000001" data-item-name="AVERY 3 SEATER SOFA" data-price="None" data-image="/files/2 2020-05-03 14:21:11.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/furniture/living-rooms/sofas/3-seater-sofa-dulrg">
                    
                        AVERY 3 SEATER SOFA
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 449.000</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/household/tabletop/glassware/red-or-white-set-of-2-wine-glasses-clear-cx66b">
        <img src="/files/RedorWhite_WineGlass_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000557" data-item-name="Red Or White Set of 2 Wine Glasses - Clear" data-price="None" data-image="/files/RedorWhite_WineGlass.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/household/tabletop/glassware/red-or-white-set-of-2-wine-glasses-clear-cx66b">
                    
                        Red Or White Set of 2 Wine Glasses - Clear
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 29.900</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/household/tabletop/glassware/wine-party-set-of-2-red-wine-glasses-clear-hlcof">
        <img src="/files/Wine_Party_Red_Wine_Glass_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000570" data-item-name="Wine Party Set of 2 Red Wine Glasses - Clear" data-price="None" data-image="/files/Wine_Party-Red_wine_glass.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/household/tabletop/glassware/wine-party-set-of-2-red-wine-glasses-clear-hlcof">
                    
                        Wine Party Set of 2 Red Wine Glasses - Clear
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 19.900</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/furniture/living-rooms/sofas/avery-leisure-chair-eorqg">
        <img src="/files/2 2020-04-14 17:20:58_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000003" data-item-name="AVERY LEISURE CHAIR" data-price="None" data-image="/files/2 2020-04-14 17:20:58.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/furniture/living-rooms/sofas/avery-leisure-chair-eorqg">
                    
                        AVERY LEISURE CHAIR
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 229.000</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/household/tabletop/glassware/red-or-white-wine-decanter-clear-g2xjk">
        <img src="/files/Red_or_White_Wine_Decanter_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000555" data-item-name="Red or White Wine Decanter - Clear" data-price="None" data-image="/files/Red_or_White_Wine_Decanter.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/household/tabletop/glassware/red-or-white-wine-decanter-clear-g2xjk">
                    
                        Red or White Wine Decanter - Clear
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 61.900</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/household/tabletop/glassware/mini-magnolia-vase-small-opal-white-h5n12">
        <img src="/files/vase_small_opal_white_small.jpg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000172" data-item-name="Mini Magnolia Vase Small - Opal White" data-price="None" data-image="/files/vase_small_opal_white.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/household/tabletop/glassware/mini-magnolia-vase-small-opal-white-h5n12">
                    
                        Mini Magnolia Vase Small - Opal White
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 14.000</ins>
                    
                    
                </div>
    </div>
</div>
                    
                    
<div class="men-single">
      <div class="product-image">
        
    <a href="/furniture/bedrooms/dresser-with-mirror/icon-dresser-with-mirror-4ytrs">
        <img src="/files/9_small.jpeg" alt="#"></a>
</div>
        <input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="DH0000277" data-item-name="Icon Dresser With Mirror" data-price="None" data-image="/files/9.jpeg" style="margin-bottom: 0">
        
         <h4>
                <a href="/furniture/bedrooms/dresser-with-mirror/icon-dresser-with-mirror-4ytrs">
                    
                        Icon Dresser With Mirror
                    
                </a>
            </h4>        
         <div class="product-wid-price2 clearfix" style="">
                    
                    
                    <ins>BHD 579.000</ins>
                    
                    
                </div>
    </div>
</div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
