<div class="col-md-12">
<div class="headline">
<h2>Shop By Brand</h2>
</div>
<div class="featured_category" style="display:flex;">
     


     <div class="featured_category_mobile" style="margin-right:20px;">
         <a href="/">
            <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" style="width:200px;height:200px;">
           <p style="text-align: center;font-size: 16px;margin-top: 7px;">   Kodak</p>
                                </a>
      
     </div>


     


     <div class="featured_category_mobile" style="margin-right:20px;">
         <a href="/">
            <img src="/assets/erpnext_ecommerce/images/no-image-800x511.png" style="width:200px;height:200px;">
           <p style="text-align: center;font-size: 16px;margin-top: 7px;">   Nikon</p>
                                </a>
      
     </div>


     
</div>
</div>