<div class="loader">
    <div class="slide-img">
        <div id="loadingProgressG">
            <div id="loadingProgressG_1" class="loadingProgressG"></div>
        </div>
    </div>
    <div style="margin: 25px 0;">
    	<div class="item-text">
        <div id="loadingProgressG">
            <div id="loadingProgressG_1" class="loadingProgressG"></div>
        </div>
    </div>
    <div class="item-title clearfix">
        <div id="loadingProgressG">
            <div id="loadingProgressG_1" class="loadingProgressG"></div>
        </div>
    </div>
    <div class="item-title-2 clearfix">
        <div id="loadingProgressG">
            <div id="loadingProgressG_1" class="loadingProgressG"></div>
        </div>
    </div>
    <div class="item-title-sm clearfix">
        <div id="loadingProgressG">
            <div id="loadingProgressG_1" class="loadingProgressG"></div>
        </div>
    </div>
    <div class="item-title-sm clearfix">
        <div id="loadingProgressG">
            <div id="loadingProgressG_1" class="loadingProgressG"></div>
        </div>
    </div>
    <div class="item-title-sm clearfix">
        <div id="loadingProgressG">
            <div id="loadingProgressG_1" class="loadingProgressG"></div>
        </div>
    </div>
    </div>
</div>