
<section class="best_sellercurosel_area section-padding" id="featuredProducts">
    <div class="pd-15">
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="home-card">
                    <div class="headline">
                        <h2>Featured Products</h2>
                            

                    </div>
                    <div class="products-carousel">
                        
                        
<div class="men-single">
    <a href="/electronics/accessories/gaming-accessories/stark-grand-classic-psp12-8-gb-with-10000-games-jfupt"><img src="/assets/cmswebsite/images/no-image-800x511.png" alt="#"></a><input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00003" data-item-name="STARK Grand Classic PSP12 8 GB With 10000 Games" data-price="2550.0" data-image="None" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/gaming-accessories/stark-grand-classic-psp12-8-gb-with-10000-games-jfupt">
                    
                        STARK Grand Classic PSP12 8 GB...
                    
                </a>
            </h4>        
        <div class="product-wid-price clearfix">
            
            <ins>$ 2550.00</ins>
            
        </div>
    </div>
</div>
                        
                        
<div class="men-single">
    <a href="/electronics/televisions/kodak-x900-102cm-40-inch-full-hd-led-tv-zxlg3"><img src="/files/furniture2_small.jpg" alt="#"></a><input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00005" data-item-name="Lewis  Contemporary Solid Wood Wall Table with Chair" data-price="13499.0" data-image="/assets/erpnext_ecommerce/images/furniture2.jpg" style="margin-bottom: 0">
        
        <!-- <a href="#">
                    <div class="brand-name">Kodak</div>
                </a> -->
        
         <h4>
                <a href="/electronics/televisions/kodak-x900-102cm-40-inch-full-hd-led-tv-zxlg3">
                    
                        Lewis  Contemporary Solid Wood...
                    
                </a>
            </h4>        
        <div class="product-wid-price clearfix">
            
            <ins>$ 13499.00</ins>
            
        </div>
    </div>
</div>
                        
                        
<div class="men-single">
    <a href="/electronics/accessories/television-accessories/samsung-sm21-ledplasmaled-tv-remote-control-amtxh"><img src="/files/furniture3_small.jpg" alt="#"></a><input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00004" data-item-name="Lewis Three Door Shoe Cabinet With One Drawer" data-price="439.0" data-image="/assets/erpnext_ecommerce/images/furniture3.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/electronics/accessories/television-accessories/samsung-sm21-ledplasmaled-tv-remote-control-amtxh">
                    
                        Lewis Three Door Shoe Cabinet ...
                    
                </a>
            </h4>        
        <div class="product-wid-price clearfix">
            
            <ins>$ 439.00</ins>
            
        </div>
    </div>
</div>
                        
                        
<div class="men-single">
    <a href="/electronics/televisions/panasonic-123cm-49-inch-ultra-hd-4k-led-smart-tv-f9sjw"><img src="/files/furniture3_small.jpg" alt="#"></a><input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00006" data-item-name="Lewis Contemporary Rich Brown Solid Wood Folding Chair- Set of 2" data-price="39999.0" data-image="/assets/erpnext_ecommerce/images/furniture3.jpg" style="margin-bottom: 0">
        
        <!-- <a href="#">
                    <div class="brand-name">Panasonic</div>
                </a> -->
        
         <h4>
                <a href="/electronics/televisions/panasonic-123cm-49-inch-ultra-hd-4k-led-smart-tv-f9sjw">
                    
                        Lewis Contemporary Rich Brown ...
                    
                </a>
            </h4>        
        <div class="product-wid-price clearfix">
            
            <ins>$ 39999.00</ins>
            
        </div>
    </div>
</div>
                        
                        
<div class="men-single">
    <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-1"><img src="/files/dell-computer-keyboard-500x500_small.jpg" alt="#"></a><input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00001-1" data-item-name="Dell Keyboard" data-price="799.0" data-image="/files/dell-computer-keyboard-500x500.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-1">
                    
                        Dell Keyboard
                    
                </a>
            </h4>        
        <div class="product-wid-price clearfix">
            
            <ins>$ 799.00</ins>
            
        </div>
    </div>
</div>
                        
                        
<div class="men-single">
    <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-1"><img src="/files/dell-computer-keyboard-500x500_small.jpg" alt="#"></a><input type="hidden" id="hdnIsVariant" value="0" />
    
    <div class="hot-wid-rating" data-item="STO-ITEM-2019-00001-1" data-item-name="Dell Keyboard" data-price="799.0" data-image="/files/dell-computer-keyboard-500x500.jpg" style="margin-bottom: 0">
        
         <h4>
                <a href="/products/keyboard-hv52c?variant=STO-ITEM-2019-00001-1">
                    
                        Dell Keyboard
                    
                </a>
            </h4>        
        <div class="product-wid-price clearfix">
            
            <ins>$ 799.00</ins>
            
        </div>
    </div>
</div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
