<div class="loader">
    <div class="row">
        
            <div class="col-md-12 col-sm-12 col-xs-12">
                 <div class="list-breadcrumb-text">
                     <div id="loadingProgressG">
                          <div id="loadingProgressG_1" class="loadingProgressG"></div>
                  </div>
          </div>
        </div>
    </div>
    <div class="row" style="margin:0;">
 <div class="container-fluid">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="side-bar clearfix">
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 no-pad">
                    <div class="item-text">
                        <div id="loadingProgressG">
                            <div id="loadingProgressG_1" class="loadingProgressG"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 no-pad">
                    <div class="item-text">
                        <div id="loadingProgressG">
                            <div id="loadingProgressG_1" class="loadingProgressG"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-bar clearfix">
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 no-pad">
                    <div class="item-text">
                        <div id="loadingProgressG">
                            <div id="loadingProgressG_1" class="loadingProgressG"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 no-pad">
                    <div class="item-text">
                        <div id="loadingProgressG">
                            <div id="loadingProgressG_1" class="loadingProgressG"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="side-bar clearfix">
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-9 no-pad">
                    <div class="item-text">
                        <div id="loadingProgressG">
                            <div id="loadingProgressG_1" class="loadingProgressG"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 no-pad">
                    <div class="item-text">
                        <div id="loadingProgressG">
                            <div id="loadingProgressG_1" class="loadingProgressG"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div class="item-list">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-title clearfix">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
                <div class="item-text">
                    <div id="loadingProgressG">
                        <div id="loadingProgressG_1" class="loadingProgressG"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>