
<section class="section-padding">
    <div class="pd-15">
        <div class="row">
            
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://dhausonline.com/furniture/living-rooms">
                    <img src="/files/hpb1.png" class="img-responsive" style="    margin-bottom: 5px;
    width: 100%;
    ">
                </a>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://dhausonline.com/household/interiors/gift">
                    <img src="/files/hpb2.png" class="img-responsive" style="    margin-bottom: 5px;
    width: 100%;
    ">
                </a>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="https://dhausonline.com/furniture/bedrooms">
                    <img src="/files/hpb3.png" class="img-responsive" style="    margin-bottom: 5px;
    width: 100%;
    ">
                </a>
            </div>
            
        </div>
    </div>
</section>
