{% extends "templates/layout/customweb.html" %}

{% block loader %}
{% include "/templates/pages/listpageloader.html" %}
{% endblock %}
{% block content %}
    <input type="hidden" name="hdnCategory" id="hdnCategory" value="{{name}}" />
    <input type="hidden" name="hdnPageLen" id="hdnPageLen" value="{{page_length}}" />
    <input type="hidden" name="hdnBrandFilter" id="hdnBrandFilter" value="{% if brand_filter %}{{brand_filter}}{% endif %}">
    <input type="hidden" name="hdnMinFilter" id="hdnMinFilter" value="{% if minPrice %}{{minPrice}}{% endif %}" />
    <input type="hidden" name="hdnMaxFilter" id="hdnMaxFilter" value="{% if maxPrice %}{{maxPrice}}{% endif %}" />
    <input type="hidden" name="hdnSortFilter" id="hdnSortFilter" value="{% if sort %}{{sort}}{% endif %}">
    <input type="hidden" name="hdnRatings" id="hdnRatings" value="{% if rating %}{{rating}}{% endif %}">
    {% if attribute %}{% for item in attribute %}
    <input type="hidden" name="hdnAttrFilter" id="hdnAttrFilter" data-attribute="{{item.attribute}}" value="{{item.value}}">
    {% endfor %}{% else %}
    <input type="hidden" name="hdnAttrFilter" id="hdnAttrFilter" value="">{% endif %}
    <!-- current item group price list rate details -->

    {% if pricing_rule_name %}
    <input type="hidden" name="hdnCategoryPriceRule" id="hdnCategoryPriceRule" value="{{pricing_rule_name}}" />
    <input type="hidden" name="hdnCategoryMinQty" id="hdnCategoryMinQty" value="{{min_qty}}" />
    <input type="hidden" name="hdnCategoryMaxQty" id="hdnCategoryMaxQty" value="{{max_qty}}" />
    <input type="hidden" name="hdnCategoryMarginType" id="hdnCategoryMarginType" value="{{margin_type}}" />
    <input type="hidden" name="hdnCategoryMarginRate" id="hdnCategoryMarginRate" value="{{margin_type_rate}}" />
    <input type="hidden" name="hdnCategoryPriceType" id="hdnCategoryPriceType" value="{{price_or_discount}}" />
    <input type="hidden" name="hdnCategoryDiscountPercent" id="hdnCategoryDiscountPercent" value="{{discount_percentage}}" />
    <input type="hidden" name="hdnCategoryDiscountPrice" id="hdnCategoryDiscountPrice" value="{{price}}" />
    {% endif %}
    <div class="filter-slide">
        <div id="FiltersList" data-off-canvas="filter-slider left overlay">
            <div class="mobile-filters"></div>
        </div>
    </div>
    <section class="page-title-area" style="display: none;">
        <div class="page-title-overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="page-title">
                            <h3>{{name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="title-breadcrumb">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <ol class="breadcrumb">
                        {% if parents %}{% for item in parents %}
                        {% if item.name == "Home"%}
                        <li><a href="/"><span class="lnr lnr-home"></span></a></li>
                        {% else %}
                        <li><a href="/{{item.route}}">{{item.name}}</a></li>
                        {% endif %}
                        {% endfor %}{% endif %}
                        <li><a href="#">{{name}}</a></li>
                    </ol>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12" style="position: relative;">
                 <h3 style="margin-top: 5px;margin-bottom: 15px;font-size: 22px; ">{{name}}</h3>
                  {#% if items_html %#}
                    <div class="product-title product-sort-options hidden-xs">
                        <div class="sortType">
                            <label>Sort By</label>
                            <ul>
                                <li><a class="dropdown-item" data-id="relevance" onclick="sortProducts(this)">Relevance</a></li>
                                <li><a class="dropdown-item" data-id="name_asc" onclick="sortProducts(this)">Name: A-Z</a></li>
                                <li><a class="dropdown-item" data-id="name_desc" onclick="sortProducts(this)">Name: Z-A</a></li>
                                <li><a class="dropdown-item" data-id="price_asc" onclick="sortProducts(this)">Price: Low to High</a></li>
                                <li><a class="dropdown-item" data-id="price_desc" onclick="sortProducts(this)">Price: High to Low</a></li>
                            </ul>
                        </div>
                    </div>
                    {#% endif %#}
                </div>
            </div>
        </div>
    </div>
    <div class="product-list-area section-padding">
        <div class="container-fluid">
            {#% if items_html %#}
        <div class="mob-filters">
            <div style="border-right: 1px solid #d3d3d3;">
                <a class="btn-block" onclick="show_mobile_filters()"><i class="fa fa-filter"></i>Filters</a>
            </div>
            <div>
                <a class="btn-block" onclick="show_mobile_sort_options()"><i class="fa fa-sort"></i>Sort</a>
          
            </div>
              {#% endif %#}
        </div>
        <div >
            <div class="row  mobile-row">
                {#% if items_html %#}
                <div class="col-md-3 col-sm-3 col-xs-12 hidden-xs" id="ProductFilters">
                    <div class="brands category-lists">                        
                    </div>                    
                    <div class="filter">
                        <h3>Brands <span class="fa fa-chevron-up accr-action" onclick="accrod(this)"></span></h3>
                        <div class="brand_list accr-items">                            
                        </div>
                    </div>
                    <div class="filter" style="display: none;">
                        <h3>Ratings <span class="fa fa-chevron-up accr-action" onclick="accrod(this)"></span></h3>
                        <div class="rating_list accr-items">
                            <label class="radio-container">
                                <input type="radio" name="ratings" value="4" onclick="select_rating(this)">
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star"></span> 
                                <span class="txt">&amp; more</span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">
                                <input type="radio" name="ratings" value="3" onclick="select_rating(this)">
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star "></span> 
                                <span class="fa fa-star"></span> 
                                <span class="txt">&amp; more</span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">
                                <input type="radio" name="ratings" value="2" onclick="select_rating(this)">
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star "></span> 
                                <span class="fa fa-star "></span> 
                                <span class="fa fa-star"></span> 
                                <span class="txt">&amp; more</span>
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container">
                                <input type="radio" name="ratings" value="1" onclick="select_rating(this)">
                                <span class="fa fa-star active"></span> 
                                <span class="fa fa-star "></span> 
                                <span class="fa fa-star "></span> 
                                <span class="fa fa-star "></span> 
                                <span class="fa fa-star"></span> 
                                <span class="txt">&amp; more</span>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="filter">
                        <h3>Custom Price Range</h3>
                        <div class="customPrice">
                            <div class="custom">
                                <input type="text" name="minPrice" id="minPrice" placeholder="Min" value="{% if minPrice %}{{minPrice}}{% endif %}" />
                            </div>
                            <div class="custom">
                                <input type="text" name="maxPrice" id="maxPrice" placeholder="Max" value="{% if maxPrice %}{{maxPrice}}{% endif %}" />
                            </div>
                            <div class="custom">
                                <input type="button" onclick="search_custom_price()" value="GO" class="btn btn-default">
                            </div>                     
                        </div>
                    </div>                                       
                    <div class="attribute-filter"></div>
                </div>
                
                <div class="col-md-9 col-sm-9 col-xs-12 mobile-row auto-width-list" style="padding-right: 0;padding-left: 15px">
                    <div class="row applied-filters">
                      {%for brand in brandslist%}
                      <a class="active-filter" onclick="RemoveFilter('brand','{{brand}}')">
                       <span class="active-filter-label">  {{brand}}</span>
                      </a>
                      {%endfor%}
                      {%if rating%}
                      <a class="active-filter" onclick="RemoveFilter('rating','{{rating}}')">
                       <span class="active-filter-label">  {{rating}} stars & more</span>
                      </a>
                      {%endif%}
                       {%for attribute in attributelist%}
                      <a class="active-filter" onclick="RemoveFilter('{{attribute.attribute}}','{{attribute.unique_name}}')">
                       <span class="active-filter-label">  {{attribute.name}}</span>
                      </a>
                      {%endfor%}
                      {%if minPrice%}
                      {%if maxPrice%}
                      <a class="active-filter" onclick="RemovePriceFilter()">
                       <span class="active-filter-label">{{minPrice}} - {{maxPrice}}</span>
                      </a>
                      {%else%}
                       <a class="active-filter" onclick="RemoveFilter('min','{{minPrice}}')">
                       <span class="active-filter-label">From {{minPrice}}</span>
                      </a>
                      {%endif%}
                      {%else%}
                      {%if maxPrice%}
                        <a class="active-filter" onclick="RemoveFilter('max','{{maxPrice}}')">
                       <span class="active-filter-label">Upto {{maxPrice}}</span>
                      </a>
                        {%endif%}
                      {%endif%}
                       {%if brandslist or rating or attributelist%}
                        <a class="active-filter remove-filter" onclick="RemoveAllFilter()">
                       <span class="active-filter-label"> Remove all filters</span>
                      </a>
                       {%endif%}
                    </div>
                    {% if items_html %}
                        <div style=" padding: 0 15px;float:left;width:100%;padding-right: 0;" class="product-list-content">
                              <h3 class="hidden-sm mobile-title">{{name}}</h3>
                         <div class="child-categories-mobile visible-xs">
                          
                        </div>
                        <div class="child-categories hidden-xs">
                            <div class="row">
                              
                                {% if item_group_html %}{{item_group_html}}{% endif %}
                            </div>
                        </div>
                        
                        <div id="products-list-otr">{{items_html}}</div>
                        
                    </div>
                    {% else %}
                    <div id="products-list-otr">
                        <div class="no-res">
                            <img src="/assets/erpnext_ecommerce/images/no-data.png">
                            <div>Oops! No data found, We will provide soon.</div>
                        </div>
                    </div>
                    {% endif %}
            </div>
            
        </div>
    </div>
</div>
    <style type="text/css">
     .hot-wid-rating h4{font-size:14px}.product-single{background:#fff}.product-image{height:265px;position:relative}.size-cart{float:none}.cart-btns{margin-top:10px}.cart-link{color:#fff!important;padding:6px 12px;font-size:15px;background:#7da435;cursor:pointer}.no-res{min-height:250px;padding:10% 15%;font-size:20px;text-align:center;color:#222}#variant:focus{border-color:#ccc}#variant option{font-size:12px;padding-bottom:5px!important}#variant option span{font-size:10px}#variant{font-size:12px;height:40px;margin-bottom:10px}.no-pad{padding-left:0;padding-right:0}.pad-5{padding-right:5px;padding-left:5px}.disabled{background:#7da435a3!important;cursor:not-allowed}.hot-wid-rating h4{min-height:44px!important;max-height: 44px!important;overflow: hidden;}.product-single{min-height:405px}
     .sold-out{
        position: absolute;
        top: 10px;
        left: -15px;
        z-index: 1000;
        border: 1px solid #af1a31;
        color: white;
        background: #af1a31;
        padding: 0px 16px;
    }

        @media screen and (max-width: 767px){
             #variant{
            font-size: 12px;
            height: 40px;
            margin-bottom: 0px;
        }
      
  .product-image{
        height: 115px;
    }
        }
 
    @media screen and (min-width: 769px){ 
        .lazyload
        {
           
            background:#f1f3f6;
        }
        .div-lazy-load .lazyload
        {
            display: none;
        }
        .deal-info{
            min-height: 72px;
        }
    }
 
</style>
{% endblock %}
{% block script %}
<script>
    {% include "templates/includes/addtocart.js" %}
</script>
{% endblock %}